h1{margin-left: 420px; font-size: 35px; margin-bottom:45px; color: #7bf8f0; font-family:'Arial';}
a{ font-family:arial; text-decoration:none; font-size: 25px; padding-left:70px; background-color:#5e7288; padding-right:70px; padding-top:12px; color:#5ebbb5;}
body{background-color: #384a5e; font-family:'helvetica'; font-size: 12px;}
#b{  margin-left:0px; }
p{color:white;}
#ab{background-color:#5e7288; padding-left:550px; padding-right:550px;}
#query{padding-left:170px; padding-top:12px ; padding-bottom: 12px; border-radius: 33px; background-color:white; margin-left: 380px; padding-right: 170px; } 

#rec{background-color:#5e7288 ; border-color: #7bf8f0 ; border-radius: 16px; padding-top: 7px; padding-bottom: 7px;}
#sec{ color:#7bf8f0;}
